@using DanderiTV.SettingsView
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DanderiTV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DanderiTV.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
</head>
<body data-bs-theme="dark">

    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-4 mb-lg-0 text-white text-decoration-none">
                    DanderiTV
                </a>

                
                    <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 btn-group dropend" >
                        <button type="button" class="btn btn-secondary">
                            Actions
                        </button>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropend</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                            <a class="navbar-brand"  asp-controller="Movie" asp-action="Index">Danderi TV</a>
                            </li>
                            <li class="dropdown-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Movie" asp-action="Create">Create movie</a>
                            </li>
                            <li class="dropdown-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Director" asp-action="Index">Directors</a>
                            </li>
                        <li class="dropdown-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Actor" asp-action="Index">Actors</a>
                        </li>
                            

                        </ul>
                    </div>

              

                <div class="text-end">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="changeMode()" @(GetViewMode.ViewMode == "dark" ? " " : "checked")>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Light mode</label>
                    </div>
                </div>
            </div>
        </div>
    </header>

@*     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Carousel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-secondary">
                    Split dropend
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropend</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a class="navbar-brand" href="#">Danderi TV</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Serie" asp-action="Index">Create</a>
                    </li>
                    <li class="dropdown-item"><a href="#" class="nav-link">Pricing</a></li>
                    <li class="dropdown-item"><a href="#" class="nav-link">FAQs</a></li>
                    <li class="dropdown-item"><a href="#" class="nav-link">About</a></li>
                    <li class="dropdown-item"></li>
                    
                    
                    
                 
                </ul>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="changeMode()" @(GetViewMode.ViewMode == "dark" ? " " : "checked")>
                <label class="form-check-label" for="flexSwitchCheckDefault">Light mode</label>
            </div>
        </div>
    </nav> *@


   @*  <div class="fluid-container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                <a class="navbar-brand" href="#">Danderi TV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Serie" asp-action="Index">Create</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onchange="changeMode()" @(GetViewMode.ViewMode == "dark" ? " " : "checked")>
                        <label class="form-check-label" for="flexSwitchCheckDefault">Light mode</label>
                    </div>
                </li>
            </ul>
          
        </header>
    </div> *@


@* 
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Danderi TV</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Serie" asp-action="Index">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>

    </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>











    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DanderiTV - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
